.bg-color-000
  background-color #000
.bg-color-333
  background-color #333
.bg-color-666
  background-color #666
.bg-color-999
  background-color #999
.bg-color-ccc
  background-color #ccc
.bg-color-ddd
  background-color #ddd
.bg-color-eee
  background-color #eee

.bg-color-fff,.bg-white
  background-color #fff!important
.bg-color-f6f6f6
  background-color #f6f6f6
.bg-color-f9f9f9
  background-color #f9f9f9

.bg-repeat-no
  background-repeat no-repeat
.bg-position-l-c
  background-position left center
.bg-position-c-c
  background-position center center
.bg-position-c-t
  background-position center top
.bg-size-contain
  background-size contain
.bg-size-cover
  background-size cover
.bg-size-100
  background-size 100% 100%
